<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:og="http://ogp.me/ns#">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Hein Bekker</title>
    <link rel="stylesheet" href="./css/styles.css"/>
  </head>
  <body>
    <div class="page page--1">
      <div class="page__bg"></div>
      <div class="page__content">
        <main>
          <header>
            <h1>Hein Bekker</h1>
            <p class="lead">I am a front-end and back-end developer with over 20 years of experience and a passion for building an equitable, inclusive and sustainable society through education in the arts and sciences.</p>
          </header>
        </main>

        <aside>
          <section>
            <table>
              <tbody>
                <tr>
                  <td>{{ 'md-mail'|icon|safe }}</td>
                  <td><a href="mailto:hein@netbek.co.za">hein@netbek.co.za</a></td>
                </tr>
                <tr>
                  <td>{{ 'md-call'|icon|safe }}</td>
                  <td><a href="tel:+27825082922">+27 82 508 2922</a></td>
                </tr>
                <tr>
                  <td>{{ 'md-link'|icon|safe }}</td>
                  <td><a href="https://www.netbek.co.za" target="_blank">netbek.co.za</a></td>
                </tr>
                <tr>
                  <td>{{ 'logo-linkedin'|icon|safe }}</td>
                  <td><a href="https://www.linkedin.com/in/heinbekker" target="_blank">linkedin.com/in/heinbekker</a></td>
                </tr>
                <tr>
                  <td>{{ 'logo-github'|icon|safe }}</td>
                  <td><a href="https://www.github.com/netbek" target="_blank">github.com/netbek</a></td>
                </tr>
              </tbody>
            </table>
          </section>
        </aside>

        <main>
          <section>
            <h2 class="section-heading">Experience</h2>

            <ul class="experiences">
              <li class="experience">
                <header>
                  <div class="experience__company_date">
                    <div class="experience__company">Siyavula Education</div>
                    <div class="experience__date">Feb 2016–Jul 2023</div>
                  </div>
                  <div class="experience__title_location">
                    <span class="experience__title">Front-end Developer</span>
                  </div>
                </header>
                <div class="experience__description">
                  <p>I helped to create educational software for Mathematics, Physics and Chemistry, and monitoring and evaluation tools for teachers.</p>
                  <p>As front-end lead, I was a bridge between designers and developers:</p>
                  <ul>
                    <li>Set the technical direction of the front-end stack.</li>
                    <li>Created and maintained the colour palette, icon sets, UI components (Jinja, React), style guide and other documentation, build scripts, and configurations of code quality tools.</li>
                    <li>Unified 3 legacy themes and migrated page templates in parallel with new feature development.</li>
                    <li>Worked with the product manager on software requirements and solution design.</li>
                    <li>Created low-fidelity wireframes and high-fidelity mockups for mobile and desktop devices.</li>
                    <li>Guided front-end implementation by the full-stack team.</li>
                    <li>Conducted functional, non-functional and cross-browser testing.</li>
                    <li>Provided engineering perspective in high-level product meetings.</li>
                    <li>Explored new approaches and technologies that improved productivity and modernised the stack.</li>
                  </ul>
                  <p>I also branched out into back-end development and data reporting:</p>
                  <ul>
                    <li>Created and maintained API endpoints for the front-end (REST).</li>
                    <li>Integrated third-party libraries and services.</li>
                    <li>Wrote unit tests for and refactored parts of the application.</li>
                    <li>Peer-reviewed the full-stack team's code.</li>
                    <li>Created and maintained reports and dashboards for classroom and in-house use.</li>
                    <li>Reviewed and optimised data models and queries.</li>
                    <li>Set up and maintained the data analysis stack.</li>
                    <li>Worked with the data analysis team on integrating their code into the back-end.</li>
                  </ul>
                </div>
              </li>
            </ul>
          </section>
        </main>

        <aside>
          <section>
            <h2 class="section-heading">Tools</h2>

            <ul class="tools">
              <li class="tool">
                <h3>Languages</h3>
                <p>CSS, HTML, JavaScript, Jinja, Nunjucks, PHP, Python, SCSS, SQL, TypeScript, XML</p>
              </li>
              <li class="tool">
                <h3>Frameworks</h3>
                <p>Flask, Ionic React, Pyramid, React, Tailwind CSS</p>
              </li>
              <li class="tool">
                <h3>Libraries</h3>
                <p>jQuery, Lodash, MathJax, React Hook Form, React Redux, React Router</p>
              </li>
              <li class="tool">
                <h3>Automation</h3>
                <p>Babel, Black, esbuild, ESLint, Flake8, Gulp, Husky, PostCSS, Prettier, SQLFluff, Vite, Webpack</p>
              </li>
              <li class="tool">
                <h3>Testing</h3>
                <p>BrowserStack, CircleCI, Mocha, nose</p>
              </li>
              <li class="tool">
                <h3>Data storage</h3>
                <p>PostgreSQL</p>
              </li>
              <li class="tool">
                <h3>Data handling</h3>
                <p>Alembic, dbt, pandas, SQLAlchemy</p>
              </li>
              <li class="tool">
                <h3>Data visualisation</h3>
                <p>Vega-Altair, Vega-Lite, Victory</p>
              </li>
              <li class="tool">
                <h3>Platforms</h3>
                <p>Docker, JupyterHub, Linux, Node.js</p>
              </li>
              <li class="tool">
                <h3>Version control</h3>
                <p>Git</p>
              </li>
              <li class="tool">
                <h3>UI design &amp; vector graphics</h3>
                <p>Adobe Illustrator, Balsamiq, Figma</p>
              </li>
              <li class="tool">
                <h3>Design systems</h3>
                <p>Material Design</p>
              </li>
            </ul>
          </section>
        </aside>
      </div>
    </div>



    <div class="page page--2">
      <div class="page__bg"></div>
      <div class="page__content">
        <main>
          <section>
            <ul class="experiences">
              <li class="experience">
                <header>
                  <div class="experience__company_date">
                    <div class="experience__company">Freelance</div>
                    <div class="experience__date">Jan 2002–Dec 2015</div>
                  </div>
                  <div class="experience__title_location">
                    <span class="experience__title">Front-end &amp; Back-end Developer</span>
                  </div>
                </header>
                <div class="experience__description">
                  <p>I worked both independently and within agency teams, and often took on multiple roles as designer, front-end developer, back-end developer and technical support person.</p>
                  <ul>
                    <li>Designed, built and maintained 25 websites for small businesses, including broadcast media consultancies, guest houses, an architecture firm, an art gallery, an event agency and a radio station.</li>
                    <li>Built 13 marketing websites for renowned brands, such as PUMA, BlackBerry, Standard Bank, Castrol, Spur, 5FM and Metro FM.</li>
                    <li>Built a multimedia content management system and provided maintenance and support to clients for 8 years.</li>
                  </ul>
                </div>
              </li>

              <li class="experience">
                <header>
                  <div class="experience__company_date">
                    <div class="experience__company">Liquid Fridge</div>
                    <div class="experience__date">Jan 2002–Dec 2014</div>
                  </div>
                  <div class="experience__title_location">
                    <span class="experience__title">Co-founder &amp; Organiser</span>
                  </div>
                </header>
                <div class="experience__description">
                  <p>I was a co-founder and an organiser of a community that sought to develop South African arts through fostering interaction and mutual support.</p>
                  <p>Our work included a blog, a forum, newsletters, workshops, film screenings, radio music programmes and club nights, and featured musicians, artists and technologists from South Africa and abroad.</p>
                </div>
              </li>
            </ul>
          </section>

          <section>
            <h2 class="section-heading">Certifications</h2>

            <ul>
              <li class="certification">
                <div class="certification__title_date">
                  <h3 class="certification__title">
                    <a href="https://credentials.databricks.com/98ffbe2d-ffa2-4aff-8b54-ea8235d394f5" target="_blank">Generative AI Fundamentals</a>
                  </h3>
                  <div class="certification__date">2023</div>
                </div>
                <div class="certification__issuer">Databricks</div>
              </li>
              <li class="certification">
                <div class="certification__title_date">
                  <h3 class="certification__title">
                    <a href="https://credentials.databricks.com/77190fc2-8b6a-4ddf-83a8-109c55db0b0d" target="_blank">Lakehouse Fundamentals</a>
                  </h3>
                  <div class="certification__date">2023</div>
                </div>
                <div class="certification__issuer">Databricks</div>
              </li>
              <li class="certification">
                <div class="certification__title_date">
                  <h3 class="certification__title">
                    <a href="https://www.credential.net/c527cf13-540e-4c86-aa59-cc18a2384a2e" target="_blank">dbt Fundamentals</a>
                  </h3>
                  <div class="certification__date">2022</div>
                </div>
                <div class="certification__issuer">dbt Labs</div>
              </li>
              <li class="certification">
                <div class="certification__title_date">
                  <h3 class="certification__title">
                    <a href="https://www.datacamp.com/statement-of-accomplishment/track/9ed9464138f4d7e956ccdbe9f1f89f6db961b353" target="_blank">Machine Learning Fundamentals with Python</a>
                  </h3>
                  <div class="certification__date">2020</div>
                </div>
                <div class="certification__issuer">DataCamp</div>
              </li>
              <li class="certification">
                <div class="certification__title_date">
                  <h3 class="certification__title">
                    <a href="https://www.datacamp.com/statement-of-accomplishment/track/0ad284ed2b9bff4ea9f9b126cd1c7a86de86491d" target="_blank">Data Visualization with Python</a>
                  </h3>
                  <div class="certification__date">2020</div>
                </div>
                <div class="certification__issuer">DataCamp</div>
              </li>
            </ul>
          </section>
        </main>

        <aside></aside>
      </div>
    </div>



    <div class="page page--3">
      <div class="page__bg"></div>
      <div class="page__content">
        <main>
          <section>
            <ul>
              <li class="certification">
                <div class="certification__title_date">
                  <h3 class="certification__title">
                    <a href="https://www.datacamp.com/statement-of-accomplishment/track/f1d3dd5399ad577667439ed086f917b0b2c03d4c" target="_blank">Data Manipulation with Python</a>
                  </h3>
                  <div class="certification__date">2020</div>
                </div>
                <div class="certification__issuer">DataCamp</div>
              </li>
              <li class="certification">
                <div class="certification__title_date">
                  <h3 class="certification__title">
                    <a href="https://www.datacamp.com/statement-of-accomplishment/track/e996244e0f39d4c2d4f8a0a8768cb8910c226b23" target="_blank">Importing &amp; Cleaning Data with Python</a>
                  </h3>
                  <div class="certification__date">2020</div>
                </div>
                <div class="certification__issuer">DataCamp</div>
              </li>
              <li class="certification">
                <div class="certification__title_date">
                  <h3 class="certification__title">
                    <a href="https://www.datacamp.com/statement-of-accomplishment/track/6a0dbbec4fa7bd2af1a3693c5bcf0e0520bd3302" target="_blank">Python Fundamentals</a>
                  </h3>
                  <div class="certification__date">2020</div>
                </div>
                <div class="certification__issuer">DataCamp</div>
              </li>
              <li class="certification">
                <div class="certification__title_date">
                  <h3 class="certification__title">
                    <a href="https://www.datacamp.com/statement-of-accomplishment/track/14e37611851a73e6eb6b4ed99c1a844b541287e2" target="_blank">SQL Fundamentals</a>
                  </h3>
                  <div class="certification__date">2020</div>
                </div>
                <div class="certification__issuer">DataCamp</div>
              </li>
            </ul>
          </section>
        </main>

        <aside></aside>
      </div>
    </div>
  </body>
</html>
