<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:og="http://ogp.me/ns#">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>{{ page.title }}</title>
    <script src="/vendor/modernizr/modernizr.min.js"></script>
    <link rel="stylesheet" href="/vendor/normalize-css/normalize.css"/>
    <link rel="stylesheet" href="/css/app.min.css"/>
    <script>
      document.createElement('picture');
    </script>
    <script src="/vendor/picturefill/dist/picturefill.min.js" async></script>
  </head>
  <body class="scene {% for class_name in page.classNames %} scene--{{ class_name }}{% endfor %}" data-scene="{{ page.classNames[0] }}">
    <header>
      <a href="/">LOGO</a>

      <address>
        <span>{{ data.settings.site.name }}</span>
        <span>{{ data.settings.site.slogan }}</span>
        <a href="mailto:{{ data.settings.site.mail }}">{{ data.settings.site.mail }}</a>
      </address>

      <nav role="navigation">
        <ul>
          <li>
            {% if page.isFront %}
              <a href="/">View by category</a>
              <ul>
                <li><a href="/#design">Design</a></li>
                <li><a href="/#dev">Dev</a></li>
              </ul>
            {% else %}
              <a href="/">Work</a>
            {% endif %}
          </li>
          <li><a href="/info">Info</a></li>
        </ul>
      </nav>
    </header>

    <main>
      {{ page.content|safe }}
    </main>

    <script src="/vendor/jquery/dist/jquery.slim.min.js"></script>
    <script src="/vendor/FitVids.js/jquery.fitvids.js"></script>
    <script src="/js/app.min.js"></script>
  </body>
</html>
