{% from './_components.njk' import accordion %}

<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:og="http://ogp.me/ns#">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>{{ data.settings.site.name }} – {{ page.title }}</title>

		<meta name="description" content="
      {%- if page.metatags.description -%}
        {{ page.metatags.description }}
      {%- else -%}
        {{ data.settings.metatags.description }}
      {%- endif -%}
      " />
		<meta name="keywords" content="{{ data.settings.metatags.keywords|join(', ') }}" />
		<meta name="copyright" content="
      {%- if page.metatags.copyright -%}
        {{ page.metatags.copyright }}
      {%- else -%}
        {{ data.settings.metatags.copyright }}
      {%- endif -%}
      " />

		<meta property="og:title" content="{{ data.settings.site.name }} – {{ page.title }}" />
		<meta property="og:description" content="
      {%- if page.metatags.description -%}
        {{ page.metatags.description }}
      {%- else -%}
        {{ data.settings.metatags.description }}
      {%- endif -%}
      " />

		<meta property="og:url" content="{{ data.settings.site.url }}{{ page.url }}" />
    <meta property="og:type" content="website" />

    {% if page.header|length %}
      <meta property="og:image" content="{{ data.settings.site.url }}{{ page.header[0].uri|style_url('960-png') }}" />
      {# <meta property="og:image:width" content="" /> #}
      {# <meta property="og:image:height" content="" /> #}
    {% endif %}

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png"/>
    <link rel="manifest" href="/site.webmanifest"/>
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5"/>
    <meta name="msapplication-TileColor" content="#da532c"/>
    <meta name="theme-color" content="#ffffff"/>

    <script src="/vendor/modernizr/modernizr.min.js"></script>
    <link rel="stylesheet" href="/vendor/normalize-css/normalize.css"/>
    <link rel="stylesheet" href="/vendor/magnific-popup/dist/magnific-popup.css"/>
    <link rel="stylesheet" href="/css/app.min.css"/>

    {% if page.isFront %}
      <style>
        {% for tag in data.tags %}
          #filter-{{ tag|slugify }}:checked ~ header .filter-list .checkbox[for='filter-{{ tag|slugify }}'] .checkbox__box {
            background-color: {{ data.settings.style.color.yellow }};
            border-color: {{ data.settings.style.color.yellow }};
            border-radius: 50%;
          }

          #filter-{{ tag|slugify }}:checked ~ main .project-list-wrapper .project-list-item[data-tag-{{ tag|slugify }}] .project__thumb a {
            border: 0;
          }

          #filter-{{ tag|slugify }}:checked ~ main .project-list-wrapper .project-list-item[data-tag-{{ tag|slugify }}] .project__thumb img {
            opacity: 1;
          }
        {% endfor %}
      </style>
    {% endif %}

    <script>
      document.createElement('picture');
    </script>
    <script src="/vendor/picturefill/dist/picturefill.min.js"></script>
  </head>
  <body class="scene {% for class_name in page.classNames %} scene--{{ class_name }}{% endfor %}" data-scene="{{ page.classNames[0] }}">
    {# Menu toggle checkbox #}
    <input class="hidden-checkbox" id="menu" type="checkbox" />

    {% if page.isFront %}
      {# Filters checkboxes #}
      {% for tag in data.tags %}
        <input class="hidden-checkbox" id="filter-{{ tag|slugify }}" type="checkbox" value="{{ tag|slugify }}" checked />
      {% endfor %}
    {% endif %}

    <header class="region--header {% if page.isFront %}dark{% else %}light{% endif %}">
      <div class="constraint">
        <div class="masthead">
          <div class="grid">
            <div class="cell cell--1">
              {% if page.isFront %}
                <span class="mast">
              {% else %}
                <a class="mast" href="/" title="Home">
              {% endif %}
                  <span class="logo">{{ 'logo-netbek'|icon|safe }}</span>
                  <span class="site">
                    <span class="site__name">{{ data.settings.site.name }}</span>
                    {# <span class="site__slogan">{{ data.settings.site.slogan }}</span> #}
                  </span>
              {% if page.isFront %}
                </span>
              {% else %}
                </a>
              {% endif %}
            </div>
            <div class="cell cell--2">
              <label class="menu-toggle" for="menu">
                {{ 'ios-menu'|icon|safe }}
                {{ 'ios-close'|icon|safe }}
              </label>
            </div>
          </div>
        </div>

        <nav role="navigation">
          {% if page.isFront %}
            {% set accordion_item_filter %}
              <ul class="filter-list">
                {% for tag in data.tags %}
                  <li class="filter-list-item">
                    <label class="checkbox" for="filter-{{ tag|slugify }}">
                      <span class="checkbox__box"></span>
                      <span class="checkbox__label">{{ tag }}</span>
                    </label>
                  </li>
                {% endfor %}
              </ul>
            {% endset %}

            {{
              accordion(
                id='accordion-1',
                items=[
                  {
                    title: 'Work: 2002 – 2015',
                    body: accordion_item_filter
                  }
                ]
              )
            }}
          {% endif %}

          <ul class="menu-list">
            {% if page.isFront %}
              <li class="menu-list-item menu-list-item--info {% if page.classNames|includes('info') %}active{% endif %}">
                <a href="/info">About</a>
              </li>
            {% else %}
              <li class="menu-list-item menu-list-item--work {% if page.classNames|includes('work') %}active{% endif %}">
                <a href="/">Work</a>
              </li>
              <li class="menu-list-item menu-list-item--info {% if page.classNames|includes('info') %}active{% endif %}">
                <a href="/info">About</a>
              </li>
            {% endif %}
          </ul>
        </nav>
      </div>
    </header>

    <main class="region--main">
      {{ page.content|safe }}
    </main>

    <footer class="region--footer">
      <div class="constraint">
        <ul class="contact-list">
          <li class="contact-list-item contact-list-item--github">
            <a href="{{ data.settings.contact.github }}" target="_blank" title="GitHub">{{ 'logo-github'|icon|safe }}</a>
          </li>
          <li class="contact-list-item contact-list-item--linkedin">
            <a href="{{ data.settings.contact.linkedin }}" target="_blank" title="LinkedIn">{{ 'logo-linkedin'|icon|safe }}</a>
          </li>
          <li class="contact-list-item contact-list-item--linkedin">
            <a href="{{ data.settings.contact.twitter }}" target="_blank" title="Twitter">{{ 'logo-twitter'|icon|safe }}</a>
          </li>
          <li class="contact-list-item contact-list-item--email">
            <a href="mailto:{{ data.settings.contact.email }}" title="Email">{{ 'md-mail'|icon|safe }}</a>
          </li>
        </ul>
      </div>
    </footer>

    <div id="door-wrapper">
      <div id="door-cover"></div>
      <div id="door-left"></div>
      <div id="door-right"></div>
      <div id="spinner" class="spinner"></div>
    </div>

    <script src="/vendor/jquery/dist/jquery.slim.min.js"></script>
    <script src="/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="/vendor/FitVids.js/jquery.fitvids.js"></script>
    <script src="/vendor/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
    <script src="/vendor/gsap/src/minified/TweenMax.min.js"></script>
    <script src="/js/app.min.js"></script>
  </body>
</html>
