<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:og="http://ogp.me/ns#">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>{{ page.title }}</title>
    <script src="/vendor/modernizr/modernizr.min.js"></script>
    <link rel="stylesheet" href="/vendor/normalize-css/normalize.css"/>
    <link rel="stylesheet" href="/css/app.min.css"/>
    <script>
      document.createElement('picture');
    </script>
    <script src="/vendor/picturefill/dist/picturefill.min.js" async></script>
  </head>
  <body class="scene {% for class_name in page.classNames %} scene--{{ class_name }}{% endfor %}" data-scene="{{ page.classNames[0] }}">
    {{ page.content|safe }}

    <div id="door-wrapper">
      <div id="door-cover"></div>
      <div id="door-left"></div>
      <div id="door-right"></div>
      <div id="spinner" class="spinner"></div>
    </div>

    <script src="/vendor/jquery/dist/jquery.slim.min.js"></script>
    <script src="/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="/vendor/FitVids.js/jquery.fitvids.js"></script>
    <script src="/vendor/gsap/src/minified/TweenMax.min.js"></script>
    <script src="/js/app.min.js"></script>
  </body>
</html>
