{% from './_components.njk' import accordion %}

<style>
  {% for tag in data.tags %}
    #filter-{{ tag|slugify }}:checked ~ header .filter-list .checkbox[for='filter-{{ tag|slugify }}'] .checkbox__box {
      background-color: {{ data.settings.style.color.yellow }};
      border-color: {{ data.settings.style.color.yellow }};
      border-radius: 50%;
    }

    #filter-{{ tag|slugify }}:checked ~ main .project-list-wrapper .project-list-item[data-tag-{{ tag|slugify }}] .project__thumb a {
      border: 0;
    }

    #filter-{{ tag|slugify }}:checked ~ main .project-list-wrapper .project-list-item[data-tag-{{ tag|slugify }}] .project__thumb img {
      opacity: 1;
    }
  {% endfor %}
</style>

{% for tag in data.tags %}
  {# <input id="filter-{{ tag|slugify }}" type="checkbox" value="{{ tag|slugify }}" checked /> #}
  <input class="visuallyhidden" id="filter-{{ tag|slugify }}" type="checkbox" value="{{ tag|slugify }}" {% if loop.index > 2 %} checked {% endif %} />
{% endfor %}

<input class="visuallyhidden" id="menu" type="checkbox" />

<header>
  <div class="masthead-wrapper">
    <div class="masthead">
      <a class="logo" href="/">{{ 'logo-netbek'|icon|safe }}</a>

      <span class="site">
        <span class="site__name">{{ data.settings.site.name }}</span>
        <span class="site__slogan">{{ data.settings.site.slogan }}</span>
      </span>

      <label class="menu-toggle" for="menu">
        {{ 'ios-menu'|icon|safe }}
        {{ 'ios-close'|icon|safe }}
      </label>
    </div>
  </div>

  <nav role="navigation">
    <ul class="menu-list">
      <li class="menu-list-item">
        <a href="/info">About me</a>
      </li>
      <li class="menu-list-item">
        <a href="mailto:{{ data.settings.site.mail }}">Email</a>
      </li>
    </ul>

    {% set accordion_item_filter %}
      <ul class="filter-list">
        {% for tag in data.tags %}
          <li class="filter-list-item">
            <label class="checkbox" for="filter-{{ tag|slugify }}">
              <span class="checkbox__box"></span>
              <span class="checkbox__label">{{ tag }}</span>
            </label>
          </li>
        {% endfor %}
      </ul>
    {% endset %}

    {{
      accordion(
        id='accordion-1',
        items=[
          {
            title: 'View by category',
            body: accordion_item_filter
          }
        ]
      )
    }}
  </nav>
</header>

<main>
  <div class="project-list-wrapper">
    <ul class="project-list">
      {% for slug in data['projects-list'] %}
        {% set item = data.projects[slug] %}
        <li
          class="project-list-item"
          style="z-index: {{ loop.length - loop.index }};"
          {% for tag in item.tags %} data-tag-{{ tag|slugify }}{% endfor %}
        >
          <div class="project">
            <div class="project__thumb"><a href="/work/{{ slug }}"><img srcset="{{ item.header[0].uri|style_url(240) }} 1x, {{ item.header[0].uri|style_url(480) }} 2x" alt="{{ item.title }}"/></a></div>
            <div class="project__label">{{ item.title }}</div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</main>
