{% from './_components.njk' import desktop_frame, phone_frame %}

<article>
  <div class="constraint">
    <header>
      <h1 class="field--title">{{ page.title }}</h1>
    </header>

    {% if page.body %}
      <div class="field--body">{{ page.body|markdown|safe }}</div>
    {% endif %}
  </div>

  {% if page.media|length %}
    {% set items_count = page.media|length %}

    {% set cols_count = 0 %}
    {% for item in page.media %}
      {% set cols_count = cols_count + item.layout.columns %}
    {% endfor %}

    {% set cols_used = 0 %}

    <ul class="lightbox-list cols-{{ cols_count }}" data-cols="{{ cols_count }}">
      {% for item in page.media %}
        <li
          class="lightbox-list-item cols-{{ item.layout.columns }} {% if cols_used % 4 == 0 %}cols-row-start{% endif %} {% if loop.index0 == items_count - 1 %}cols-end{% endif %} {% if item.layout.frame %}frame frame-{{ item.layout.frame }}{% endif %}"
          data-frame="{{ item.layout.frame }}"
          data-columns="{{ item.layout.columns }}"
          data-scheme="{{ item.scheme }}"
          data-type="{{ item.type }}"
        >
					<figure>
						<div>
              {% if item.scheme == 'youtube' %}
                <iframe
                  width="{{ item.width }}"
                  height="{{ item.height }}"
                  src="https://www.youtube-nocookie.com/embed/{{ item.uri|youtube_id }}?autoplay=0&origin={{ data.settings.site.url }}"
                  frameborder="0"
                  allow="encrypted-media"
                  allowfullscreen></iframe>
              {% elif item.scheme == 'public' %}
                {% if item.type == 'image' %}
                  {% if item.layout.frame == 'desktop' %}
                    {{
                      desktop_frame(
                        src=item.uri|style_url(480),
                        srcset='{img_480} 1x, {img_960} 2x'|
                          replace('{img_480}', item.uri|style_url(480))|
                          replace('{img_960}', item.uri|style_url(960))
                      )
                    }}
                  {% elif item.layout.frame == 'phone' %}
                    {{
                      phone_frame(
                        src=item.uri|style_url(480),
                        srcset='{img_480} 1x, {img_960} 2x'|
                          replace('{img_480}', item.uri|style_url(480))|
                          replace('{img_960}', item.uri|style_url(960))
                      )
                    }}
                  {% else %}
                    <img srcset="{{ item.uri|style_url(480) }} 1x, {{ item.uri|style_url(960) }} 2x" alt="" />
                  {% endif %}
                {% endif %}
              {% endif %}

              {% if item.title %}
                <figcaption>{{ item.title }}</figcaption>
              {% endif %}
            </div>
          </figure>

          {% set cols_used = cols_used + item.layout.columns %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</article>

<nav role="navigation">
  <ul class="pagination-list">
    {% if true %}
      <li class="pagination-list-item">
        <a href="">
          {{ 'ios-arrow-back'|icon|safe }}
          <span>Previous</span>
        </a>
      </li>
    {% endif %}
    {% if true %}
      <li class="pagination-list-item">
        <a href="">
          <span>Next</span>
          {{ 'ios-arrow-forward'|icon|safe }}
        </a>
      </li>
    {% endif %}
  </ul>
</nav>
