.accordion {
  display: block;
  position: relative;
  list-style: none;
  margin: 0 auto;
  padding: 0; }
  .accordion__item {
    display: block;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0; }
  .accordion__item-state {
    position: absolute;
    clip: rect(0, 0, 0, 0); }
    .accordion__item-state ~ .accordion__item-header .accordion__item-button .icon:first-child {
      display: block; }
    .accordion__item-state ~ .accordion__item-header .accordion__item-button .icon:last-child {
      display: none; }
    .accordion__item-state ~ .accordion__item-body {
      display: none; }
    .accordion__item-state:checked ~ .accordion__item-header .accordion__item-button .icon:first-child {
      display: none; }
    .accordion__item-state:checked ~ .accordion__item-header .accordion__item-button .icon:last-child {
      display: block; }
    .accordion__item-state:checked ~ .accordion__item-body {
      display: block; }
  .accordion__item-header {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    display: block;
    position: relative;
    cursor: pointer; }
  .accordion a.accordion__item-header, .accordion a.accordion__item-header:focus, .accordion a.accordion__item-header:hover {
    text-decoration: none; }
  .accordion__item-title {
    display: block;
    padding: 0;
    border: 0; }
  .accordion__item-button {
    position: absolute;
    top: 0; }
    .accordion__item-button .icon {
      display: block; }
  .accordion__item-body {
    padding: 0; }
  .accordion--left .accordion__item-header {
    padding-right: 0;
    padding-left: 3em; }
  .accordion--left .accordion__item-button {
    right: auto;
    left: 0; }
  .accordion:not(.accordion--left) .accordion__item-header, .accordion--right .accordion__item-header {
    padding-right: 3em;
    padding-left: 0; }
  .accordion:not(.accordion--left) .accordion__item-button, .accordion--right .accordion__item-button {
    right: 0;
    left: auto; }

.checkbox {
  cursor: pointer; }
  .checkbox__box {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    border: 2px solid #FFE900;
    width: 1em;
    height: 1em;
    margin-right: .25em; }
  .checkbox__label {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex; }
  .checkbox:hover {
    color: #FFE900; }

@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  src: local("Titillium Web Regular"), local("TitilliumWeb-Regular"), url("/fonts/titillium-web-v6-latin-regular.woff2") format("woff2"), url("/fonts/titillium-web-v6-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }

html {
  font-size: 100%; }

body {
  font-family: 'Titillium Web', sans-serif;
  font-size: 1em;
  line-height: 1.5;
  color: #222;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #e3e3e3;
  background-image: -webkit-radial-gradient(ellipse, #fff, #ccc);
  background-image: -o-radial-gradient(ellipse, #fff, #ccc);
  background-image: radial-gradient(ellipse, #fff, #ccc); }

a {
  text-decoration: underline; }
  a:focus, a:hover {
    text-decoration: none; }

.icon {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  speak: none;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  width: 1em;
  height: 1em;
  max-width: none; }
  .icon:before {
    display: none; }

.hidden-checkbox {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  position: fixed; }

header {
  display: block;
  position: relative;
  z-index: 10; }

main,
footer {
  padding: 1em 5%; }

main {
  display: block;
  position: relative;
  z-index: 0;
  margin: auto; }

footer {
  display: block;
  position: relative;
  z-index: 0;
  margin: auto; }
  footer .contact-list {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center; }
  footer .contact-list-item {
    display: inline-block;
    list-style: none;
    margin: 0 .375em;
    padding: 0; }
    footer .contact-list-item a {
      display: block;
      width: 2em;
      height: 2em;
      padding: .5em;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      font-size: 1.25em;
      background-color: #222; }
      footer .contact-list-item a .icon {
        display: block;
        fill: #FFF; }
      footer .contact-list-item a:hover {
        background-color: #FFE900; }
        footer .contact-list-item a:hover .icon {
          fill: #222; }

@media (min-width: 29em) {
  main,
  footer {
    padding: 2em 5%; } }

@media (min-width: 47em) {
  main {
    padding: 2.75em 5%; }
  footer {
    padding: 1.375em 5% 2.75em; }
  footer .contact-list {
    text-align: right; } }

@media (min-width: 63em) {
  main {
    padding: 3.78125em 5%; }
  footer {
    padding: 1.89062em 5% 3.78125em; } }

@media (min-width: 84em) {
  main {
    padding: 4.25391em 5%; }
  footer {
    padding: 2.12695em 5% 4.25391em; } }

@media (min-width: 99em) {
  main {
    padding: 4.25391em 5%; }
  footer {
    padding: 2.12695em 5% 4.25391em; } }

.scene--front #menu:checked ~ header .menu-toggle .icon:first-child {
  display: none; }

.scene--front #menu:checked ~ header .menu-toggle .icon:last-child {
  display: block; }

.scene--front #menu:checked ~ header .menu-list {
  display: block; }

.scene--front header {
  padding: 1em 0;
  background-color: #222;
  color: #FFF; }
  .scene--front header .masthead-wrapper {
    margin: 0 auto 1em;
    padding: 0 1em; }
  .scene--front header .masthead {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .scene--front header .masthead .logo {
      display: block;
      font-size: 2.5em;
      line-height: 1; }
      .scene--front header .masthead .logo .icon {
        display: block;
        fill: white; }
    .scene--front header .masthead .site {
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 100%;
          -ms-flex: 1 1 100%;
              flex: 1 1 100%;
      padding-top: .25em; }
      .scene--front header .masthead .site__name, .scene--front header .masthead .site__slogan {
        display: block;
        margin-left: 1em; }
      .scene--front header .masthead .site__name {
        text-transform: uppercase; }
      .scene--front header .masthead .site__slogan {
        color: #9C9C9C; }
    .scene--front header .masthead .menu-toggle {
      padding: .125em;
      font-size: 1.75em;
      line-height: 1;
      cursor: pointer; }
      .scene--front header .masthead .menu-toggle .icon {
        fill: #FFF; }
        .scene--front header .masthead .menu-toggle .icon:first-child {
          display: block; }
        .scene--front header .masthead .menu-toggle .icon:last-child {
          display: none; }
      .scene--front header .masthead .menu-toggle:hover .icon {
        fill: #FFE900; }
  .scene--front header .menu-list {
    display: none;
    list-style: disc;
    margin: 0 0 .5em;
    padding-top: .5em;
    padding-bottom: .5em;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    border-bottom: 1px solid rgba(255, 255, 255, 0.15); }
  .scene--front header .menu-list-item {
    list-style: disc;
    margin: 0; }
    .scene--front header .menu-list-item a {
      display: block;
      padding: 0.125em 0;
      color: white;
      text-decoration: none; }
      .scene--front header .menu-list-item a:focus, .scene--front header .menu-list-item a:hover {
        text-decoration: none; }
      .scene--front header .menu-list-item a:hover {
        color: #FFE900; }
        .scene--front header .menu-list-item a:hover .icon {
          fill: #FFE900; }
  .scene--front header .accordion__item-header {
    padding: 0.125em 0; }
    .scene--front header .accordion__item-header .accordion__item-button .icon {
      fill: #FFF; }
    .scene--front header .accordion__item-header:hover {
      color: #FFE900; }
      .scene--front header .accordion__item-header:hover .accordion__item-button .icon {
        fill: #FFE900; }
  .scene--front header .accordion__item-body {
    padding: .375em 1em .25em; }
  .scene--front header .accordion__item-button {
    top: 50%;
    margin-top: -.5em;
    font-size: 1.25em;
    line-height: 1; }
  .scene--front header .accordion:not(.accordion--left) .accordion__item-header, .scene--front header .accordion--right .accordion__item-header {
    padding-right: 4em;
    padding-left: 1em; }
  .scene--front header .accordion:not(.accordion--left) .accordion__item-button, .scene--front header .accordion--right .accordion__item-button {
    right: 1em;
    left: auto; }
  .scene--front header .filter-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    list-style: none;
    margin: -.125em 0;
    padding: 0; }
  .scene--front header .filter-list-item {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    list-style: none;
    margin: .125em 0;
    padding: 0; }
    .scene--front header .filter-list-item .checkbox {
      display: block; }

.scene--front .project-list-wrapper {
  margin: 0 auto;
  max-width: 90em; }

.scene--front .project-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  list-style: none;
  margin: -.25em;
  padding: 0; }

.scene--front .project-list-item {
  display: block;
  position: relative;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 0; }

.scene--front .project {
  display: block;
  position: relative;
  margin: .25em; }
  .scene--front .project__thumb {
    display: block;
    position: relative; }
    .scene--front .project__thumb a {
      display: block;
      border: 1px dashed rgba(0, 0, 0, 0.3); }
    .scene--front .project__thumb img {
      display: block;
      width: 100%;
      height: auto;
      opacity: 0;
      -webkit-transition: opacity .150s ease;
      -o-transition: opacity .150s ease;
      transition: opacity .150s ease; }
  .scene--front .project__label {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    background: white;
    padding: .25em .5em;
    line-height: 1.25;
    -webkit-transition: background-color .100s ease, opacity .100s ease;
    -o-transition: background-color .100s ease, opacity .100s ease;
    transition: background-color .100s ease, opacity .100s ease; }

@media (min-width: 29em) {
  .scene--front .project-list {
    margin: -.5em; }
  .scene--front .project {
    margin: .5em; }
    .scene--front .project__label {
      padding: .5em .75em; } }

@media (min-width: 47em) {
  .scene--front header .filter-list-item {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%; }
  .scene--front .project-list {
    display: block;
    margin: 0 auto;
    padding: 4.75% 0; }
  .scene--front .project-list-item {
    -webkit-box-flex: 0;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none;
    top: 0;
    width: 32%; }
    .scene--front .project-list-item:nth-child(5n+1) {
      left: 0;
      margin-top: -5%; }
    .scene--front .project-list-item:nth-child(5n+2) {
      left: 34%;
      margin-top: -22.55%; }
    .scene--front .project-list-item:nth-child(5n+3) {
      left: 68%;
      margin-top: -22.55%; }
    .scene--front .project-list-item:nth-child(5n+4) {
      left: 17%;
      margin-top: -5%; }
    .scene--front .project-list-item:nth-child(5n+5) {
      left: 51%;
      margin-top: -22.55%; }
    .scene--front .project-list-item:nth-child(1) {
      left: 0;
      margin-top: 0; }
  .scene--front .project {
    margin: 0; }
    .scene--front .project__thumb {
      margin: auto;
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
           -o-transform: rotate(45deg);
              transform: rotate(45deg);
      width: 70.671378091872791519434628975265%; }
    .scene--front .project__label {
      top: 50%;
      bottom: auto;
      left: 50%;
      cursor: pointer; } }

@media (min-width: 63em) {
  .scene--front header {
    position: fixed;
    top: 3.78125em;
    left: 3.78125em;
    width: 16em; }
    .scene--front header .filter-list {
      display: block; }
    .scene--front header .filter-list-item {
      -webkit-box-flex: 0;
      -webkit-flex: none;
          -ms-flex: none;
              flex: none; }
  .scene--front .project-list-item:nth-child(1) {
    left: 34%;
    margin-top: 0; }
  .scene--front .project-list-item:nth-child(2) {
    left: 68%;
    margin-top: -22.55%; }
  .scene--front .project-list-item:nth-child(3) {
    left: 17%;
    margin-top: -5%; }
  .scene--front .project-list-item:nth-child(4) {
    left: 51%;
    margin-top: -22.55%; }
  .scene--front .project-list-item:nth-child(5) {
    left: 34%;
    margin-top: -5%; }
  .scene--front .project-list-item:nth-child(6) {
    left: 68%;
    margin-top: -22.55%; }
  .scene--front .project-list-item:nth-child(7) {
    left: 17%;
    margin-top: -5%; }
  .scene--front .project-list-item:nth-child(8) {
    left: 51%;
    margin-top: -22.55%; }
  .scene--front .project-list-item:nth-child(9) {
    left: 0;
    margin-top: -5%; }
  .scene--front .project-list-item:nth-child(10) {
    left: 34%;
    margin-top: -22.55%; }
  .scene--front .project-list-item:nth-child(11) {
    left: 68%;
    margin-top: -22.55%; }
  .scene--front .project-list-item:nth-child(12) {
    left: 17%;
    margin-top: -5%; }
  .scene--front .project-list-item:nth-child(13) {
    left: 51%;
    margin-top: -22.55%; }
  .scene--front .project-list-item:nth-child(14) {
    left: 0;
    margin-top: -5%; }
  .scene--front .project-list-item:nth-child(15) {
    left: 34%;
    margin-top: -22.55%; }
  .scene--front .project-list-item:nth-child(16) {
    left: 17%;
    margin-top: -5%; }
  .scene--front .project-list-item:nth-child(17) {
    left: 51%;
    margin-top: -22.55%; }
  .scene--front .project-list-item:nth-child(18) {
    left: 0;
    margin-top: -5%; } }

@media (min-width: 84em) {
  .scene--front header {
    top: 4.25391em;
    left: 4.25391em;
    width: 18em; }
    .scene--front header .filter-list {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
    .scene--front header .filter-list-item {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 50%;
          -ms-flex: 0 0 50%;
              flex: 0 0 50%; }
  .scene--front .project-list {
    padding: 3.5% 0; }
  .scene--front .project-list-item {
    width: 23.5%; }
    .scene--front .project-list-item:nth-child(7n+1) {
      left: 12.75%;
      margin-top: -4%; }
    .scene--front .project-list-item:nth-child(7n+2) {
      left: 38.25%;
      margin-top: -16.6%; }
    .scene--front .project-list-item:nth-child(7n+3) {
      left: 63.75%;
      margin-top: -16.6%; }
    .scene--front .project-list-item:nth-child(7n+4) {
      left: 0;
      margin-top: -4%; }
    .scene--front .project-list-item:nth-child(7n+5) {
      left: 25.5%;
      margin-top: -16.6%; }
    .scene--front .project-list-item:nth-child(7n+6) {
      left: 51%;
      margin-top: -16.6%; }
    .scene--front .project-list-item:nth-child(7n+7) {
      left: 76.5%;
      margin-top: -16.6%; }
    .scene--front .project-list-item:nth-child(1) {
      left: 38.25%;
      margin-top: 0; }
    .scene--front .project-list-item:nth-child(2) {
      left: 63.75%;
      margin-top: -16.6%; }
    .scene--front .project-list-item:nth-child(3) {
      left: 25.5%;
      margin-top: -4%; }
    .scene--front .project-list-item:nth-child(4) {
      left: 51%;
      margin-top: -16.6%; }
    .scene--front .project-list-item:nth-child(5) {
      left: 76.5%;
      margin-top: -16.6%; }
    .scene--front .project-list-item:nth-child(6) {
      left: 12.75%;
      margin-top: -4%; }
    .scene--front .project-list-item:nth-child(7) {
      left: 38.25%;
      margin-top: -16.6%; }
    .scene--front .project-list-item:nth-child(8) {
      left: 63.75%;
      margin-top: -16.6%; }
    .scene--front .project-list-item:nth-child(9) {
      left: 0;
      margin-top: -4%; }
    .scene--front .project-list-item:nth-child(10) {
      left: 51%;
      margin-top: -16.6%; }
    .scene--front .project-list-item:nth-child(11) {
      left: 76.5%;
      margin-top: -16.6%; }
    .scene--front .project-list-item:nth-child(12) {
      left: 12.75%;
      margin-top: -4%; }
    .scene--front .project-list-item:nth-child(13) {
      left: 38.25%;
      margin-top: -16.6%; }
    .scene--front .project-list-item:nth-child(14) {
      left: 0;
      margin-top: -4%; }
  .scene--front .project__label {
    font-size: 1.125em; } }

@media (min-width: 99em) {
  .scene--front header {
    top: 4.25391em;
    left: 4.25391em; } }

.no-touchevents .scene--front .project__label {
  opacity: 0; }

.no-touchevents.no-js .scene--front .project-list-item:hover {
  z-index: 100; }
  .no-touchevents.no-js .scene--front .project-list-item:hover .project__label {
    background: #FFE900;
    opacity: 1; }

.no-touchevents.js .scene--front .project-list-item.hover {
  z-index: 100; }
  .no-touchevents.js .scene--front .project-list-item.hover .project__label {
    background: #FFE900;
    opacity: 1; }

.nb-page--info {
  background: yellow; }

.nb-page--project {
  background: magenta; }
