<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:og="http://ogp.me/ns#">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>CV</title>
    <link rel="stylesheet" href="/tailwind.css"/>
  </head>
  <body class="tw-grid tw-grid-cols-[11fr,5fr]">

    <main class="tw-p-6 tw-bg-white">
      <div class="tw-mb-12">
        <h1 class="tw-text-3xl">Hein Bekker</h1>
        {# <p class="tw-text-2xl tw-mt-0 tw-font-bold">Front-end &amp; Back-end Developer</p> #}
        <h2 class="tw-text-xl">Front-end &amp; Back-end Developer</h2>
        <br />
        <p>Senior developer with 21 years of experience and a passion for building solutions that drive positive change.</p>
      </div>

      <section class="tw-mb-12">
        <h2 class="tw-text-2xl tw-mb-4">Experience</h2>

        <ul class="experiences">
          {% for job in experience %}
            <li {% if not loop.last %} class="tw-mb-8 tw-pb-8 tw-border-b-2 tw-border-solid tw-border-slate-400"{% endif %}>
              <div class="tw-grid tw-grid-cols-2">
                <h3 class="tw-mt-4">{{ job.title }}</h3>
                <div class="tw-text-right tw-text-slate-700">{{ job.date }}</div>
              </div>
              <div>{{ job.company }} &middot; {{ job.location }}</div>

              <div class="prose">
                <p>{{ job.summary }}</p>

                {% if job.roles %}
                  {% for role in job.roles %}
                    <p>{{ role.summary }}</p>
                    <ul>
                      {% for responsibility in role.responsibilities %}
                        <li>{{ responsibility }}</li>
                      {% endfor %}
                    </ul>
                  {% endfor %}
                {% endif %}

                {# {% if job.skills %}
                  <ul class="tw-text-xs">
                    {% for skill in job.skills %}
                      <li>{{ skill }}</li>
                    {% endfor %}
                  </ul>
                {% endif %} #}
              </div>
            </li>
          {% endfor %}
        </ul>
      </section>

      <section class="tw-mb-0">
        <h2 class="tw-text-2xl tw-mb-4">Certifications</h2>

        <ul>
          {% for certification in certifications %}
            <li {% if not loop.last %} class="tw-pb-4"{% endif %}>
              <div class="tw-grid tw-grid-cols-2">
                <h3 class="tw-mb-0 tw-mt-4">
                  {% if certification.url %}
                    <a href="{{ certification.url }}" target="_blank">{{ certification.name }}</a>
                  {% else %}
                    {{ certification.name }}
                  {% endif %}
                </h3>
                <div class="tw-text-right tw-text-slate-700">{{ certification.date }}</div>
              </div>
              <div>{{ certification.issuer }}</div>
            </li>
          {% endfor %}
        </ul>
      </section>
    </main>

    <aside class="tw-p-6 tw-bg-[#ffe900]">
      <section class="tw-mb-12">
        {# <h2 class="tw-text-2xl tw-mb-4">Contact</h2> #}

        <table>
          <tbody>
            <tr>
              <td>Email:</td>
              <td><a href="mailto:hein@netbek.co.za">hein@netbek.co.za</a></td>
            </tr>
            <tr>
              <td>Telephone:</td>
              <td><a href="tel:+27825082922">+27 82 508 2922</a></td>
            </tr>
            <tr>
              <td>Portfolio:</td>
              <td><a href="https://www.netbek.co.za" target="_blank">netbek.co.za</a></td>
            </tr>
            <tr>
              <td>LinkedIn:</td>
              <td><a href="https://www.linkedin.com/in/heinbekker" target="_blank">linkedin.com/in/heinbekker</a></td>
            </tr>
            <tr>
              <td>GitHub:</td>
              <td><a href="https://www.github.com/netbek" target="_blank">github.com/netbek</a></td>
            </tr>
          </tbody>
        </table>
      </section>

      <section>
        <h2 class="tw-text-2xl tw-mb-4">Skills</h2>

        {% for skill in skills %}
          <h3 class="tw-mt-4">{{ skill.key }}</h3>
          <p class="tw-text-slate-700">{{ skill.value }}</p>
        {% endfor %}
      </section>
    </aside>
  </body>
</html>
