@import '../helpers';

.checkbox {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: .5em;
  align-items: center;
  cursor: pointer;

  &__box {
    display: inline-flex;
    border: 2px solid $yellow;
    width: 1em;
    height: 1em;
  }

  &__label {
    display: inline-flex;
  }

  &:hover {
    color: $yellow;
  }
}
