.icon {
  display: inline-block;
	vertical-align: middle;
	line-height: 1;
	font-weight: normal;
	font-style: normal;
	speak: none;
	text-decoration: inherit;
	text-transform: none;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  width: 1em;
  height: 1em; // Prevents FOUC of SVG
  max-width: none;

  &:before {
    display: none;
  }
}
