@import '../helpers';

.spinner {
  margin: 0;
  font-size: 2em;
  width: 1em;
  height: 1em;
  border: 2px solid $black;
}

.spinner--xy {
  animation: sk-rotate-plane-xy 1.2s infinite ease-in-out;
}

.spinner--yx {
  animation: sk-rotate-plane-yx 1.2s infinite ease-in-out;
}
