// Colors

$black:                                 #222 !default;
$white:                                 #FFF !default;
$yellow:                                #FFE900 !default;
$pink:                                  #F9274B !default;
$grey:                                  #9C9C9C !default;

// Breakpoints

$screen-small:                          29em !default;  // 464 px
$screen-medium:                         47em !default;  // 752 px
$screen-large:                          63em !default;  // 1008 px
$screen-xlarge:                         84em !default;  // 1344 px
$screen-xxlarge:                        99em !default;  // 1584 px

// Line heights

$line-height-heading:                   1.25 !default;
$line-height-body:                      1.5 !default;
