@import 'helpers';

@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  src: local('Titillium Web Regular'), local('TitilliumWeb-Regular'),
       url('/fonts/titillium-web-v6-latin-regular.woff2') format('woff2'), // Chrome 26+, Opera 23+, Firefox 39+
       url('/fonts/titillium-web-v6-latin-regular.woff') format('woff'); // Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+
}

* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: $font-family-body;
  font-size: $font-size-body;
  line-height: $line-height-body;
  color: $black;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #e3e3e3;
  background-image: radial-gradient(ellipse, #fff, #ccc);
}

a {
  &,
  &:visited {
    color: $pink;
    text-decoration: underline;
  }

  &:focus,
  &:hover {
    text-decoration: none;
  }
}

a,
button {
  .icon {
    pointer-events: none;
  }
}

.constraint {
  max-width: 64em;
}

.hidden-checkbox {
  @include visuallyhidden;
  position: fixed;
}

#menu:checked ~ .region--header {
  .menu-toggle {
    .icon {
      &:first-child {
        display: none;
      }

      &:last-child {
        display: block;
      }
    }
  }

  .menu-list {
    display: block;
  }
}

.region--header {
  display: block;
  position: relative;
  z-index: 10;
  padding: 1em 0;
  font-family: $font-family-heading;

  .masthead {
    margin: 0 auto;
    padding: 0;

    .grid {
      display: flex;
      flex-flow: row nowrap;
      align-items: flex-start;
      justify-content: space-between;
    }

    .cell--1 {
      flex: 1 1 100%;
    }

    .cell--2 {
      flex: 1 1 auto;
    }

    .mast {
      display: inline-flex;
      flex-flow: row nowrap;
      align-items: flex-start;
      color: inherit;

      .logo {
        flex: 1 1 auto;
        display: block;
        font-size: 2.5em;
        line-height: 1;

        .icon {
          display: block;
          fill: $white;
        }
      }

      .site {
        flex: 1 1 100%;
        padding-top: .25em;

        &__name,
        &__slogan {
          display: block;
          margin-left: 1rem;
        }

        &__name {
          font-weight: bold;
        }

        &__slogan {
          font-family: $font-family-serif;
          font-style: italic;
        }
      }
    }

    .menu-toggle {
      display: inline-block;
      padding: .125em;
      font-size: 1.75em;
      line-height: 1;
      cursor: pointer;

      .icon {
        &:first-child {
          display: block;
        }

        &:last-child {
          display: none;
        }
      }
    }

    a.mast {
      text-decoration: none;

      &:hover {
        text-decoration: none;

        .site {
          &__name,
          &__slogan {
            color: inherit;
          }

          &__name {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .menu-list {
    display: none;
    list-style: disc;
    margin: 1em 0 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  .menu-list-item {
    list-style: disc;
    margin: 0;

    a {
      display: block;
      padding: ($menu-item-padding-vert / 2) 0;
      text-decoration: none;

      &:focus,
      &:hover {
        text-decoration: none;
      }
    }
  }

  .accordion {
    &__item-header {
      padding: $menu-item-padding-vert 0;
    }

    &__item-body {
      padding: .375em 1em .25em;
    }

    &__item-button {
      top: 50%;
      margin-top: -.5em;
      font-size: 1.25em;
      line-height: 1;
    }

    &:not(.accordion--left),
    &--right {
      .accordion__item-header {
        padding-right: $accordion-toggle-width + 1em;
        padding-left: 1em;
      }

      .accordion__item-button {
        right: 1em;
        left: auto;
      }
    }
  }

  .filter-list {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    margin: -.125em 0;
    padding: 0;
  }

  .filter-list-item {
    flex: 0 0 50%;
    list-style: none;
    margin: .125em 0;
    padding: 0;

    .checkbox {
      display: block;
    }
  }

  // Dark theme

  &.dark {
    background-color: $black;
    color: $white;

    .masthead {
      .mast {
        .logo {
          .icon {
            fill: $white;
          }
        }

        .site {
          &__slogan {
            color: $grey;
          }
        }
      }

      a.mast {
        &:hover {
          .logo {
            .icon {
              fill: $yellow;
            }
          }
        }
      }

      .menu-toggle {
        .icon {
          fill: $white;
        }

        &:hover {
          .icon {
            fill: $yellow;
          }
        }
      }
    }

    .menu-list-item {
      a {
        color: $white;

        &:hover {
          color: $yellow;

          .icon {
            fill: $yellow;
          }
        }
      }
    }

    .accordion {
      &__item-header {
       .accordion__item-button {
          .icon {
            fill: $white;
          }
        }

        &:hover {
          color: $yellow;

          .accordion__item-button {
            .icon {
              fill: $yellow;
            }
          }
        }
      }
    }
  }

  // Light theme

  &.light {
    background-color: $white;
    color: $black;

    .masthead {
      .mast {
        .logo {
          .icon {
            fill: $black;
          }
        }

        .site {
          &__slogan {
            color: $black;
          }
        }
      }

      a.mast {
        &:hover {
          .logo {
            .icon {
              fill: $yellow;
            }
          }
        }
      }

      .menu-toggle {
        .icon {
          fill: $black;
        }

        &:hover {
          .icon {
            fill: $yellow;
          }
        }
      }
    }

    .menu-list-item {
      a {
        color: $black;
        text-decoration: none;

        &:hover {
          color: $black;
          text-decoration: underline;

          .icon {
            fill: $yellow;
          }
        }
      }
    }

    .accordion {
      &__item-header {
       .accordion__item-button {
          .icon {
            fill: $white;
          }
        }

        &:hover {
          color: $yellow;

          .accordion__item-button {
            .icon {
              fill: $yellow;
            }
          }
        }
      }
    }
  }
}

.scene:not(.scene--front) {
  .region--header {
    padding-left: 5%;
    padding-right: 5%;
  }
}

.region--main {
  display: block;
  position: relative;
  z-index: 0;
  margin: auto;
  padding: $region-padding-vert 5%;
}

.region--footer {
  display: block;
  position: relative;
  z-index: 0;
  margin: auto;
  padding: $region-padding-vert 5%;

  .contact-list {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .contact-list-item {
    display: inline-block;
    list-style: none;
    margin: 0 .375em;
    padding: 0;

    a {
      display: block;
      width: 2em;
      height: 2em;
      padding: .5em;
      border-radius: 50%;
      font-size: 1.25em;
      background-color: $black;

      .icon {
        display: block;
        fill: $white;
      }

      &:hover {
        background-color: $yellow;

        .icon {
          fill: $black;
        }
      }
    }
  }
}

// Page transitions

#door-wrapper {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
  z-index: 200;

  // GPU hack
  &,
  div {
    transform: translateZ(0);
  }
}

.js #door-wrapper {
	display: block;
}

#door-cover {
  display: block;
  position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	margin: 0;
	background-color: #FFF;
}

#door-left,
#door-right {
  display: block;
	position: absolute;
  width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	margin: 0;
	background-color: #FFF;
}

#spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -.5em;
  margin-left: -.5em;
  opacity: 0;
}

// Magnific Popup

.mfp-bg {
  opacity: .9;
}

.mfp-container {
  padding: 0 1em;
}

.mfp-figure {
  &:after {
    // 4dp
    box-shadow:
      0px 2px 4px -1px rgba(black, $shadow-key-umbra-opacity),
      0px 4px 5px 0px rgba(black, $shadow-key-penumbra-opacity),
      0px 1px 10px 0px rgba(black, $shadow-ambient-shadow-opacity);
  }
}

img.mfp-img {
  padding: 2.5em 0;
}

.mfp-image-holder {
  .mfp-close {
    top: 0;
    right: 0;
    width: 1em;
    height: 1em;
    font-size: 2em;
    padding: 0;
    opacity: 1;

    .icon {
      display: block;
      fill: $white;
    }

    &:hover {
      .icon {
        fill: $yellow;
      }
    }

    .icon {
      fill: white;
    }
  }
}

// Frame

.frame {
  &__svg {
    image {
      cursor: zoom-in;
    }
  }
}

@include breakpoint($screen-small) {
  .region--main {
    padding: $region-padding-vert--small 5%;
  }

  .region--footer {
    padding: max($region-padding-vert, ($region-padding-vert--small / 2)) 5% $region-padding-vert--small;
  }

  .mfp-container {
    padding: 0 2em;
  }

  img.mfp-img {
    padding: 2.5em 0;
  }

  .mfp-image-holder {
    .mfp-close {
      right: -1em;
    }
  }
}

@include breakpoint($screen-medium) {
  .region--header {
    .filter-list-item {
      flex: 0 0 25%;
    }
  }

  .region--main {
    padding: $region-padding-vert--medium 5%;
  }

  .region--footer {
    padding: max($region-padding-vert, ($region-padding-vert--medium / 2)) 5% $region-padding-vert--medium;
  }

  .region--footer {
    .contact-list {
      text-align: right;
    }
  }
}

@include breakpoint($screen-large) {
  .scene:not(.scene--front) {
    #menu:checked ~ .region--header {
      .menu-list {
        display: flex;
      }
    }

    .region--header {
      display: flex;
      flex-flow: row nowrap;
      align-items: flex-end;
      padding-top: 0;
      padding-bottom: 0;

      .masthead {
        flex: 1 1 100%;
      }

      nav {
        flex: 1 1 auto;
      }

      .masthead {
        padding: $header-padding-vert--large 0;

        .site {
          &__name {
            font-size: 1.125em;
          }
        }

        .menu-toggle {
          display: none;
        }
      }

      .menu-list {
        display: flex;
        flex-flow: row nowrap;
        margin: 0;
        padding: 0;
      }

      .menu-list-item {
        flex: 1 1 auto;
        list-style: none;
        margin: 0;
        padding: 0;

        a {
          display: block;
          padding: ($header-padding-vert--large / 2) ($header-padding-horz--large / 2 * 2.5);
          text-decoration: none;
          color: $black;
          background-color: $white;
          font-size: 1.125em;

          &:hover {
            text-decoration: underline;
            color: $black;
          }
        }

        &--work {
          a {
            &:hover {
              color: $black;
              background-color: #ddd;
            }
          }

          &.active {
            a {
              color: $black;
              background-color: #ddd;
            }
          }
        }

        &--info {
          a {
            &:hover {
              color: $black;
              background-color: $yellow;
            }
          }

          &.active {
            a {
              color: $black;
              background-color: $yellow;
            }
          }
        }
      }
    }
  }

  .region--main {
    padding: $region-padding-vert--large 5%;
  }

  .region--footer {
    padding: max($region-padding-vert, ($region-padding-vert--large / 2)) 5% $region-padding-vert--large;
  }

  #spinner {
    font-size: 3em;
  }
}

@include breakpoint($screen-xlarge) {
  .scene--front {
    .region--header {
      .masthead {
        .site {
          &__name {
            font-size: 1.125em;
          }
        }
      }
    }
  }

  .scene:not(.scene--front) {
    .region--header {
      .masthead {
        padding: $header-padding-vert--xlarge 0;

        .site {
          &__name {
            font-size: 1.25em;
          }
        }
      }

      .menu-list-item {
        a {
          padding: ($header-padding-vert--xlarge / 2) ($header-padding-horz--xlarge / 2 * 2.5);
        }
      }
    }
  }

  .region--main {
    padding: $region-padding-vert--xlarge 5%;
  }

  .region--footer {
    padding: max($region-padding-vert, ($region-padding-vert--xlarge / 2)) 5% $region-padding-vert--xlarge;
  }
}

@include breakpoint($screen-xxlarge) {
  .scene:not(.scene--front) {
    .region--header {
      .masthead {
        padding: $header-padding-vert--xxlarge 0;
      }

      .menu-list-item {
        a {
          padding: ($header-padding-vert--xxlarge / 2) ($header-padding-horz--xxlarge / 2 * 2.5);
        }
      }
    }
  }

  .region--main {
    padding: $region-padding-vert--xxlarge 5%;
  }

  .region--footer {
    padding: max($region-padding-vert, ($region-padding-vert--xxlarge / 2)) 5% $region-padding-vert--xxlarge;
  }
}
