@import 'helpers';

$menu-item-padding-vert: .125em;

.scene--front {
  #menu:checked ~ header {
    .menu-toggle {
      .icon {
        &:first-child {
          display: none;
        }

        &:last-child {
          display: block;
        }
      }
    }

    .menu-list {
      display: block;
    }
  }

  header {
    padding: 1em 0;
    background-color: $black;
    color: $white;

    .masthead-wrapper {
      margin: 0 auto 1em;
      padding: 0 1em;
    }

    .masthead {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;

      .logo {
        font-size: 2em;
        line-height: 1;

        .icon {
          fill: white;
        }
      }

      .site {
        flex: 1 1 100%;

        &__name,
        &__slogan {
          display: block;
          margin-left: 1em;
        }

        &__name {
          text-transform: uppercase;
        }

        &__slogan {
          color: $grey;
        }
      }

      .menu-toggle {
        padding: .125em;
        font-size: 1.75em;
        line-height: 1;
        cursor: pointer;

        .icon {
          fill: $white;

          &:first-child {
            display: block;
          }

          &:last-child {
            display: none;
          }
        }

        &:hover {
          .icon {
            fill: $yellow;
          }
        }
      }
    }

    .menu-list {
      display: none;
      list-style: disc;
      margin: 0 0 .5em;
      padding-top: .5em;
      padding-bottom: .5em;
      border-top: 1px solid rgba(white, .15);
      border-bottom: 1px solid rgba(white, .15);
    }

    .menu-list-item {
      list-style: disc;
      margin: 0;

      a {
        display: block;
        padding: $menu-item-padding-vert 0;
        color: white;
        text-decoration: none;

        &:focus,
        &:hover {
          text-decoration: none;
        }

        &:hover {
          color: $yellow;

          .icon {
            fill: $yellow;
          }
        }
      }
    }

    .accordion {
      &__item-header {
        padding: $menu-item-padding-vert 0;

        .accordion__item-button {
          .icon {
            fill: $white;
          }
        }

        &:hover {
          color: $yellow;

          .accordion__item-button {
            .icon {
              fill: $yellow;
            }
          }
        }
      }

      &__item-body {
        padding: .25em 1em .75em;
      }

      &__item-button {
        top: 50%;
        margin-top: -.5em;
        font-size: 1.25em;
        line-height: 1;
      }

      &:not(.accordion--left),
      &--right {
        .accordion__item-header {
          padding-right: $accordion-toggle-width + 1em;
          padding-left: 1em;
        }

        .accordion__item-button {
          right: 1em;
          left: auto;
        }
      }
    }

    .filter-list {
      display: flex;
      flex-flow: row wrap;
      list-style: none;
      margin: -.125em 0;
      padding: 0;
    }

    .filter-list-item {
      flex: 0 0 50%;
      list-style: none;
      margin: .125em 0;
      padding: 0;
    }

    @include breakpoint($screen-medium) {
      .filter-list-item {
        flex: 0 0 25%;
      }
    }
  }

  .project-list-wrapper {
    margin: 0 auto;
    max-width: 90em;
  }

  .project-list {
    display: flex;
    position: relative;
    flex-flow: row wrap;
    list-style: none;
    margin: -.25em;
    padding: 0;
  }

  .project-list-item {
    display: block;
    position: relative;
    flex: 0 0 50%;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 0;
  }

  .project {
    display: block;
    position: relative;
    margin: .25em;

    &__thumb {
      display: block;
      position: relative;

      a {
        display: block;
        border: 1px dashed rgba(black, .3);
      }

      img {
        display: block;
        width: 100%;
        height: auto;
        opacity: 0;
      }
    }

    &__label {
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      background: white;
      padding: .25em .5em;
      line-height: $line-height-heading;
    }
  }

  @include breakpoint($screen-small) {
    .project-list {
      margin: -.5em;
    }

    .project {
      margin: .5em;

      &__label {
        padding: .5em .75em;
      }
    }
  }

  @include breakpoint($screen-medium) {
    .project-list {
      display: block;
      margin: 0 auto;
      padding: 4.75% 0;
    }

    .project-list-item {
      flex: none;
      top: 0;
      width: 32%;

      &:nth-child(5n+1) {
        left: 0;
        margin-top: -5%;
      }

      &:nth-child(5n+2) {
        left: 34%;
        margin-top: -22.55%;
      }

      &:nth-child(5n+3) {
        left: 68%;
        margin-top: -22.55%;
      }

      &:nth-child(5n+4) {
        left: 17%;
        margin-top: -5%;
      }

      &:nth-child(5n+5) {
        left: 51%;
        margin-top: -22.55%;
      }

      &:nth-child(1) {
        left: 0;
        margin-top: 0;
      }
    }

    .project {
      margin: 0;

      &__thumb {
        margin: auto;
        transform: rotate(45deg);
        width: 70.671378091872791519434628975265%; // TODO Replace magic number
      }

      &__label {
        top: 50%;
        bottom: auto;
        left: 50%;
        cursor: pointer;
      }
    }
  }

  @include breakpoint($screen-large) {
    .project-list-item {
      &:nth-child(1) {
        left: 34%;
        margin-top: 0;
      }

      &:nth-child(2) {
        left: 68%;
        margin-top: -22.55%;
      }

      &:nth-child(3) {
        left: 17%;
        margin-top: -5%;
      }

      &:nth-child(4) {
        left: 51%;
        margin-top: -22.55%;
      }

      &:nth-child(5) {
        left: 34%;
        margin-top: -5%;
      }

      &:nth-child(6) {
        left: 68%;
        margin-top: -22.55%;
      }

      &:nth-child(7) {
        left: 17%;
        margin-top: -5%;
      }

      &:nth-child(8) {
        left: 51%;
        margin-top: -22.55%;
      }

      &:nth-child(9) {
        left: 0;
        margin-top: -5%;
      }

      &:nth-child(10) {
        left: 34%;
        margin-top: -22.55%;
      }

      &:nth-child(11) {
        left: 68%;
        margin-top: -22.55%;
      }

      &:nth-child(12) {
        left: 17%;
        margin-top: -5%;
      }

      &:nth-child(13) {
        left: 51%;
        margin-top: -22.55%;
      }

      &:nth-child(14) {
        left: 0;
        margin-top: -5%;
      }

      &:nth-child(15) {
        left: 34%;
        margin-top: -22.55%;
      }

      &:nth-child(16) {
        left: 17%;
        margin-top: -5%;
      }

      &:nth-child(17) {
        left: 51%;
        margin-top: -22.55%;
      }

      &:nth-child(18) {
        left: 0;
        margin-top: -5%;
      }
    }
  }

  @include breakpoint($screen-xlarge) {
    .project-list {
      padding: 3.5% 0;
    }

    .project-list-item {
      width: 23.5%;

      &:nth-child(7n+1) {
        left: 12.75%;
        margin-top: -4%;
      }

      &:nth-child(7n+2) {
        left: 38.25%;
        margin-top: -16.6%;
      }

      &:nth-child(7n+3) {
        left: 63.75%;
        margin-top: -16.6%;
      }

      &:nth-child(7n+4) {
        left: 0;
        margin-top: -4%;
      }

      &:nth-child(7n+5) {
        left: 25.5%;
        margin-top: -16.6%;
      }

      &:nth-child(7n+6) {
        left: 51%;
        margin-top: -16.6%;
      }

      &:nth-child(7n+7) {
        left: 76.5%;
        margin-top: -16.6%;
      }

      &:nth-child(1) {
        left: 38.25%;
        margin-top: 0;
      }

      &:nth-child(2) {
        left: 63.75%;
        margin-top: -16.6%;
      }

      &:nth-child(3) {
        left: 25.5%;
        margin-top: -4%;
      }

      &:nth-child(4) {
        left: 51%;
        margin-top: -16.6%;
      }

      &:nth-child(5) {
        left: 76.5%;
        margin-top: -16.6%;
      }

      &:nth-child(6) {
        left: 12.75%;
        margin-top: -4%;
      }

      &:nth-child(7) {
        left: 38.25%;
        margin-top: -16.6%;
      }

      &:nth-child(8) {
        left: 63.75%;
        margin-top: -16.6%;
      }

      &:nth-child(9) {
        left: 0;
        margin-top: -4%;
      }

      &:nth-child(10) {
        left: 51%;
        margin-top: -16.6%;
      }

      &:nth-child(11) {
        left: 76.5%;
        margin-top: -16.6%;
      }

      &:nth-child(12) {
        left: 12.75%;
        margin-top: -4%;
      }

      &:nth-child(13) {
        left: 38.25%;
        margin-top: -16.6%;
      }

      &:nth-child(14) {
        left: 0;
        margin-top: -4%;
      }
    }

    .project {
      &__label {
        font-size: 1.125em;
      }
    }
  }

  // @include breakpoint($screen-medium) {
  //   .project-list-item {
  //     flex: 0 0 (100% / 3);
  //   }
  // }

  // @include breakpoint($screen-large) {
  //   .project-list {
  //     margin: -.75em;
  //   }

  //   .project-list-item {
  //     flex: 0 0 (100% / 4);
  //   }

  //   .project {
  //     margin: .75em;
  //   }
  // }

  // @include breakpoint($screen-xlarge) {
  //   .project-list-item {
  //     flex: 0 0 (100% / 5);
  //   }
  // }

  // @include breakpoint($screen-xxlarge) {
  //   .project-list {
  //     margin: -1em;
  //   }

  //   .project-list-item {
  //     flex: 0 0 (100% / 6);
  //   }

  //   .project {
  //     margin: 1em;
  //   }
  // }
}

.no-touchevents {
  .scene--front {
    .project {
      &__label {
        opacity: 0;
      }
    }
  }

  &.no-js {
    .scene--front {
      .project-list-item {
        &:hover {
          z-index: 100;

          .project {
            &__label {
              background: $yellow;
              opacity: 1;
            }
          }
        }
      }
    }
  }

  &.js {
    .scene--front {
      .project-list-item {
        &.hover {
          z-index: 100;

          .project {
            &__label {
              background: $yellow;
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
