@import 'helpers';
@import 'components/accordion';
@import 'components/checkbox';

@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  src: local('Titillium Web Regular'), local('TitilliumWeb-Regular'),
       url('/fonts/titillium-web-v6-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/titillium-web-v6-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: 'Titillium Web', sans-serif;
  font-size: 1em;
  line-height: $line-height-body;
  color: #222;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #e3e3e3;
  background-image: radial-gradient(ellipse, #fff, #ccc);
}

a {
  text-decoration: underline;

  &:focus,
  &:hover {
    text-decoration: none;
  }
}

.icon {
  display: inline-block;
	vertical-align: middle;
	line-height: 1;
	font-weight: normal;
	font-style: normal;
	speak: none;
	text-decoration: inherit;
	text-transform: none;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  width: 1em;
  height: 1em; // Prevents FOUC of SVG
  max-width: none;

  &:before {
    display: none;
  }
}

.hidden-checkbox {
  @include visuallyhidden;
  position: fixed;
}

header {
  display: block;
  position: relative;
  z-index: 10;
}

main,
footer {
  padding: $region-padding-vert 5%;
}

main {
  display: block;
  position: relative;
  z-index: 0;
  margin: auto;
}

footer {
  display: block;
  position: relative;
  z-index: 0;
  margin: auto;

  .contact-list {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .contact-list-item {
    display: inline-block;
    list-style: none;
    margin: 0 .375em;
    padding: 0;

    a {
      display: block;
      width: 2em;
      height: 2em;
      padding: .5em;
      border-radius: 50%;
      font-size: 1.25em;
      background-color: $black;

      .icon {
        display: block;
        fill: $white;
      }

      &:hover {
        background-color: $yellow;

        .icon {
          fill: $black;
        }
      }
    }
  }
}

@include breakpoint($screen-small) {
  main,
  footer {
    padding: $region-padding-vert--small 5%;
  }
}

@include breakpoint($screen-medium) {
  main {
    padding: $region-padding-vert--medium 5%;
  }

  footer {
    padding: ($region-padding-vert--medium / 2) 5% $region-padding-vert--medium;
  }

  footer {
    .contact-list {
      text-align: right;
    }
  }
}

@include breakpoint($screen-large) {
  main {
    padding: $region-padding-vert--large 5%;
  }

  footer {
    padding: ($region-padding-vert--large / 2) 5% $region-padding-vert--large;
  }
}

@include breakpoint($screen-xlarge) {
  main {
    padding: $region-padding-vert--xlarge 5%;
  }

  footer {
    padding: ($region-padding-vert--xlarge / 2) 5% $region-padding-vert--xlarge;
  }
}

@include breakpoint($screen-xxlarge) {
  main {
    padding: $region-padding-vert--xxlarge 5%;
  }

  footer {
    padding: ($region-padding-vert--xxlarge / 2) 5% $region-padding-vert--xxlarge;
  }
}

@import 'front';
@import 'info';
@import 'project';
