@import 'helpers';
@import 'components/accordion';
@import 'components/checkbox';

@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  src: local('Titillium Web Regular'), local('TitilliumWeb-Regular'),
       url('/fonts/titillium-web-v6-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/titillium-web-v6-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: 'Titillium Web', sans-serif;
  font-size: 1em;
  line-height: $line-height-body;
  color: #222;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #e3e3e3;
  background-image: radial-gradient(ellipse, #fff, #ccc);
}

a {
  text-decoration: underline;

  &:focus,
  &:hover {
    text-decoration: none;
  }
}

.icon {
  display: inline-block;
	vertical-align: middle;
	line-height: 1;
	font-weight: normal;
	font-style: normal;
	speak: none;
	text-decoration: inherit;
	text-transform: none;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  width: 1em;
  height: 1em; // Prevents FOUC of SVG
  max-width: none;

  &:before {
    display: none;
  }
}

.visuallyhidden {
  @include visuallyhidden;
}

main {
  margin: auto;
  padding: 1em 5%;
}

@include breakpoint($screen-large) {
  main {
    padding-left: 8%;
    padding-right: 8%;
  }
}

@import 'front';
@import 'info';
@import 'project';
