@import 'helpers';

@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  src: local('Titillium Web Regular'), local('TitilliumWeb-Regular'),
       url('/fonts/titillium-web-v6-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/titillium-web-v6-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: 'Titillium Web', sans-serif;
  font-size: 1em;
  line-height: $line-height-body;
  color: #222;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #e3e3e3;
  background-image: radial-gradient(ellipse, #fff, #ccc);
}

main {
  margin: auto;
  padding: 5em 5%;
}

@include breakpoint($screen-large) {
  main {
    padding-left: 8%;
    padding-right: 8%;
  }
}

@import 'front';
@import 'info';
@import 'project';
