@import 'helpers';

.scene--info {
  background-color: $yellow;
  background-image: none;

  a {
    &,
    &:visited {
      color: $black;
      text-decoration: underline;
    }

    &:focus,
    &:hover {
      text-decoration: none;
    }
  }

  @include breakpoint($screen-large) {
    .field--body {
      font-size: 1.125em;

      p {
        margin-left: 5%;
      }

      ul,
      ol {
        margin-left: 5%;
        padding-left: 1.5em;
      }
    }
  }
}
