@import 'helpers';

.scene--work {
  .lightbox .lightbox-button {
    border: none;
    background-color: #222;
    background-color: rgba(0,0,0,0.5);
    color: #FFF;
    fill: #FFF;
    border-radius: 0.2em;
    font-size: 1em;
    line-height: 1em;
    padding: 0.5em;
    position: absolute;
    bottom: 1em;
    right: 1em;
  }

  .lightbox .lightbox-button:focus,
  .lightbox .lightbox-button:hover {
    background: #000;
    color: #FFE900;
    fill: #FFE900;
  }
}
